<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net threshold="ON">

    <logger name="Main">
      <level value="ALL" />
      <appender-ref ref="File" />
      <!--<appender-ref ref="RollingFile" />-->
      <!--<appender-ref ref="Console"/>-->
    </logger>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %m %exception %n"  />
      </layout>
    </appender>

    <appender name="File" type="log4net.Appender.FileAppender">
      <!--<file type="log4net.Util.PatternString" value="log/%property{DATE}/Debug_%property{SN}_%property{TIME}.log"/>-->
      <file type="log4net.Util.PatternString" value="log/%property{DATE}/%property{LogFileName}.log"/>
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] [%t] %-5p: %m%n" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--指定日志文件的路径和名称-->
      <file type="log4net.Util.PatternString" value="log/%property{DATE}/%property{LogFileName}.log"/>
      <!--指定是否在已存在的日志文件中追加日志信息，默认为true-->
      <appendToFile value="true" />
      <!--指定滚动日志的方式，可以是按大小(Size)或按日期(Date)-->
      <rollingStyle value="Size" />
      <!--指定滚动后的最大文件数-->
      <maxSizeRollBackups value="10" />
      <!--指定每个日志文件的最大大小，可以使用大小单位(KB、MB、GB等)-->
      <maximumFileSize value="10MB" />
      <!--指定日志文件名称是否固定不变，不变的话文件名为"文件名.log"，否则每个文件名称都会附加日期信息-->
      <staticLogFileName value="false" />
      <!--指定日志文件扩展名是否保留-->
      <preserveLogFileNameExtension value="true" />
      <!--指定按日期滚动日志时的日期格式，例如："yyyyMMdd"-->
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n消息描述：%c [%x] %n%m %n " /-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />-->
        <conversionPattern value="[%d] [%t] %-5p: %m%n" />
      </layout>
    </appender>

  </log4net>
  
   
</configuration>